.header {
    display: flex;
    position: absolute;
    z-index: 50;
    background: rgba(19, 19, 19, 0.39);
    backdrop-filter: blur(7.5px);
    width: 100%;
    left: 0;
    top: 0;
}

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 133px;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0px auto;
}

.left__name {
    color: var(--gold, #C8A35F);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left__logo {
    color: var(--white, #F6F6F6);
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header__right {
    display: flex;
    align-items: center;
}

.right__contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 30px;
}

.right__btn__call {
    padding-right: 43px;
}

.tel {
    color: var(--white, #F6F6F6);
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 37.7px */
}

.mail {
    color: var(--white, #F6F6F6);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.btn__call {
    color: var(--white, #F6F6F6);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: transparent;
    display: inline-flex;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 11px;
    border: 2px solid var(--gold, #C8A35F);
}

.img__burger {
    max-width: 74px;
    max-height: 28px;
}

@media (max-width: 820px) {
    
    .header__container {
        justify-content: space-around;
    }

    .right__contact {
        display: none;
    }

}