.warehouse__title {
    color: var(--white, #F6F6F6);
    font-family: Exo 2;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 64.8px */
}

.benefit__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* max-height: 304px; */
}

.warehouse__title__gold {
    color: var(--gold, #C8A35F);
    font-family: Exo 2;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 36px */
}

.warehouse__container {
    margin-top: 100px;
}

.benefit__container {
    margin-top: 40px;
}

.left__list {
    height: 100%;
}

.left__list ul {
    margin-top: 20px;
    height: 238px;
}

.left__list__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.left__list li {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--white, #F6F6F6);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
}

/* .benefit__left {
    height: 304px;
} */

.product_quality__conatiner {
    margin-top: 80px;
}

.product__quality__text {
    margin-top: 20px;
    width: 663px;
    color: var(--white, #F6F6F6);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
}

.product__quality__step {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.step__num {
    margin-top: -15px;
    opacity: 0.1;
    color: var(--gold, #C8A35F);
    font-family: Exo 2;
    font-size: 89px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 106.8px */
}

.step__text {
    margin-top: -35px;
    width: 371px;
    color: var(--white, #F6F6F6);
    font-family: Exo 2;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 26.4px */
}

.cargo__services__cnt {
    display: flex;
    width: 386px;
    align-items: flex-start;
    gap: 16px;
}

.cargo__services {
    display: flex;
}

.cargo__services__cnt p {
    flex: 1 0 0;
    color: var(--white, #F6F6F6);
    font-family: Exo 2;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 26.4px */
}

.cargo__img {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cargo__img img {
    border-radius: 6px;
}

.cargo__img2 {
    width: 594px;
    height: 277px;
    flex-shrink: 0;
}

.container_cargo {
    margin-top: 80px;
}

.cargo__services {
    margin-top: 40px;
}

.cargo__img {
    margin-top: 30px;
    margin-bottom: 100px;
}

@media(max-width:820px) {
    .benefit__right {
        margin-top: 30px;
    }

    .cargo__img img {
        flex: 1;
    }

}

@media(max-width:400px) {
    .warehouse__title {
        font-size: 34px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        /* 40.8px */
    }

    .warehouse__title__gold {
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        /* 28.8px */
    }

    .left__list li {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 20.8px */
    }

    .right__img img {
        width: 320px;
        height: 164px;
    }

    .product__quality__text {
        width: 320px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 20.8px */
    }

    .step img{
        width: 315px;
height: 196px;
    }
    .step__text {
        width: 315px;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 26.4px */
    }

    .cargo__services {
        flex-wrap: wrap;
        gap: 20px;
    }

    .cargo__img img {
        width: 320px;
height: 196px;
flex-shrink: 0;
    }
}